/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Fichiers de configuration locale à ne jamais envoyer
android/local.properties
android/.flutter-plugins
android/.flutter-plugins-dependencies
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
